.contenido{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 300;   
    margin-top: 100px;
    .contenedor-secciones1{
        #corte-index{
                text-align: center;
                align-items: center;
        
            

                  
        }
     }
}