.contenido{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 300;   
    margin-top: 100px;
  
}

.contenido video{
    width:100%;
}



.contenedor-secciones1{
    text-align: justify;
    align-items: flex-start;
     
        section.nosotros{
        padding: 60px;   
    
    }           
                 
}    

section.menu{
    padding: 60px; 

    }

section.community{
    padding: 60px;  
    }

section.reservas{
    padding: 60px; 
}


                     

   