.contenido{
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 300;   
    margin-top: 100px;

    video{
        width:100%; 
        h2{
            margin-top: 10px;
        }
    }   
}
.contenedor-secciones1{
    text-align: justify;
    align-items: flex-start;    
        section.nosotros{
        padding: 60px;      
    }                       
}    
section.menu{
    padding: 60px; 
}

section.community{
    padding: 60px;  
}

section.reservas{
    padding: 60px; 
}

#corte-index{
    text-align: center;
    padding: 40px;
}


                     

   