
.header{
            font-family: 'Lexend Zetta', sans-serif;
            font-weight: 800;   
            background-image: url(../fotos/puerta.jpeg);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-size: cover;
            width: 100%;
            top: 0px;
            text-decoration: none;
            align-items: center;
        img{
                margin-top: 10px;
                
        }
  
    }