
.header{
    font-family: 'Exo', sans-serif;
    background-image: url(../fotos/puerta.jpeg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    align-items: center;
}